<div class="title-block">
  <h3 class="title">
    Страница планирования <span class="sparkline bar"></span>
  </h3>
</div>
<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-sm bordered">
          <div class="header-block">
            <h3 class="title">Расходы</h3>
          </div>
          <h5 class="planning-expenses pull-right">
            Общий остаток: <span class="text-success">{{bill}} ₴</span>
          </h5>
        </div>
        <div class="card-block">
          <div class="row" *ngFor="let c of categories">
            <div class="col-xs-6">
              <div class="n-progress">
                <div class="progress-bar {{class}}" [ngStyle]="{'width': width(c.costs, c.limit) }" >
                  <span>{{c.name}}</span>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <p>
                <span class="text-success">{{c.costs}}</span>
                из
                <span class="text-primary">{{c.limit}}</span>
                |
                осталось <span class="text-success">{{c.limit-c.costs}}</span> (грн.)
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
